# dependencies (bun install)
node_modules

# output
out
dist
build

# Bun
bun.lockb
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Runtime
.env
.env.local
*.log
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# yeunrlsd
public/img
public/anim
public/music
