# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
.ruff_cache/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
dist/

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*
